.flex-container {
    display: flex;
  }
  
  .blue {
    background-color: blue;
    width: 100px;
    height: 100px;
  }
  
  .black {
    background-color: black;
    width: 100px;
    height: 100px;
  }
  
  .red {
    background-color: red;
    width: 100px;
    height: 100px;
  }
  
  .green {
    background-color: green;
    width: 100px;
    height: 100px;
  }